In [2]:
import pandas as pd

In [24]:
from pyspark.sql import functions as F

In [8]:
spark

In [30]:
temperature_df = spark.read.option("header",True).csv("GlobalLandTemperaturesByCity.csv")
temperature_df.printSchema()

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [31]:
us_temperature_df = temperature_df.filter(F.col('Country') == 'United States')
us_temperature_df.count()

687289

In [32]:
@F.udf
def date_to_month(date_string):
    month = date_string.split("-")[1]
    return int(month)
us_temperature_df = us_temperature_df.select(
date_to_month(F.col('dt')).alias('month'),
F.lower(F.col('City')).alias('city'),
F.col('AverageTemperature').alias('avg_temperature'),
)
us_temperature_df.printSchema()

root
 |-- month: string (nullable = true)
 |-- city: string (nullable = true)
 |-- avg_temperature: string (nullable = true)

In [33]:
us_temperature_agg = us_temperature_df.groupby(['city', 'month']).agg(
F.round(F.avg('avg_temperature'),2).alias('avg_temperature'))
us_temperature_agg.show(100)t

+----------------+-----+---------------+
|            city|month|avg_temperature|
+----------------+-----+---------------+
|      cape coral|    6|          26.07|
|     gainesville|    6|           26.4|
|      louisville|   10|          13.37|
|            mesa|   12|           10.7|
|      montgomery|    1|           7.02|
|    newport news|    4|          13.24|
|         norwalk|    6|          20.53|
|    philadelphia|   11|           7.32|
|         spokane|    6|           15.5|
|      toms river|    6|          21.19|
|     west jordan|    5|          14.19|
|       anchorage|   11|         -11.06|
|       baltimore|    2|           0.93|
|         buffalo|    7|          20.89|
|  corpus christi|   12|          13.62|
|      evansville|   11|           7.59|
|      fort wayne|    9|          17.68|
|        hartford|    7|          21.57|
|      huntsville|    1|           4.37|
|         lansing|   11|           3.02|
|     little rock|    4|          16.67|
|   oklahoma city|   12|           3.26|
|          olathe|    2|          -0.38|
|        pasadena|   12|          10.71|
|         phoenix|    5|          24.41|
|          pomona|    3|          11.78|
|       sunnyvale|    1|           8.28|
|           tempe|    8|          31.64|
|        torrance|   10|          16.97|
|      carrollton|    9|          24.86|
|       charlotte|    8|          25.65|
|       cleveland|   12|          -1.26|
|          dallas|   11|          12.44|
|           flint|   12|          -2.78|
|      fort wayne|   11|           4.05|
|         hampton|   10|          17.25|
|          irving|    3|          13.27|
|   moreno valley|    1|           7.49|
|   overland park|    8|          24.39|
|        paterson|    6|          19.87|
|       roseville|    8|          20.82|
|       roseville|   12|           3.45|
|          tacoma|    7|           15.4|
|         abilene|    2|           7.53|
|      birmingham|   11|          11.57|
|         burbank|    4|          13.93|
|      cape coral|   10|          24.85|
|      chesapeake|   12|           7.84|
|colorado springs|    5|          12.92|
|          denton|    6|          26.66|
|       fullerton|    3|          13.48|
|         hialeah|    4|           22.6|
|         houston|    2|          12.81|
|    independence|    8|          24.39|
|          lowell|   10|           8.59|
|            mesa|    2|          12.63|
|          newark|    8|           21.3|
|         norfolk|   12|           7.84|
|          peoria|    8|          26.27|
|      saint paul|   12|           -9.7|
|           tempe|    9|          28.36|
|          arvada|    3|          -3.58|
|        beaumont|    9|          25.57|
|        berkeley|    2|          10.25|
|          denver|    9|           15.9|
|         garland|    2|           8.79|
|         jackson|    9|          23.94|
|         jackson|    2|           9.07|
|         killeen|    4|          18.53|
|       knoxville|    2|           3.83|
|        lakewood|    4|           7.46|
|       las vegas|    6|          26.66|
|          lowell|    7|          20.72|
|         modesto|    1|           3.59|
|         modesto|    9|          18.53|
|       oceanside|   10|          17.96|
|       san diego|    2|          13.16|
|      scottsdale|   10|          21.81|
|   sunrise manor|    2|           8.46|
|          toledo|    4|           8.94|
|         windsor|    1|          -5.11|
|         antioch|    8|          19.56|
|       arlington|    3|           8.77|
|          boston|    1|          -6.13|
|       cambridge|    3|          -0.09|
|         chicago|   11|           6.47|
|   coral springs|    9|          26.86|
|          dallas|   12|           7.69|
|    garden grove|   12|          13.76|
|       green bay|   11|           3.18|
|        hartford|    3|           2.67|
|huntington beach|    8|          20.01|
|    independence|   10|          12.92|
|        lakewood|    7|          21.82|
|     little rock|    7|          27.31|
|     los angeles|    7|          23.88|
|      providence|    3|          -0.09|
|      richardson|    7|          28.93|
|       roseville|    4|           9.22|
|           salem|    9|          14.74|
+----------------+-----+---------------+
only showing top 100 rows

In [34]:
us_temperature_agg.repartition(2).write.mode('overwrite').parquet('data/temperature_transformed/')